@font-face {
    font-family: 'source_sans_problack';
    src: url('./fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_problack_italic';
    src: url('./fonts/sourcesanspro-blackit-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-blackit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('./fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proXLtIt';
    src: url('./fonts/sourcesanspro-extralightit-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-extralightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('./fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('./fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('./fonts/sourcesanspro-lightit-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('./fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('./fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('./fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('./fonts/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-semiboldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: 'source_sans_proregular';
}

body {
    margin: auto;
}

.container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.header-wording {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

header {
    height: 1080px;
    background-image: url("./images/pic_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

footer {
    display: flex;
    height: 250px;
    background-color: #071629;
    padding: 40px 10%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.viewport1 {
    max-width: 1440px;
    height: auto;
}

.block-container {
    margin-top: 40px;
    max-width: 1009px;
    height: auto;
    align-self: center;
    justify-content: space-around;
}

.blockperson {
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    max-width: 150px;
    height: auto;
}

.peoples-name {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
}

.peoples-images {
    border-radius: 50%;
}

.peoples-award {
    margin-top: 5px;
    font-style: italic;
    font-family: 'source_sans_prolight';
}

.button1 {
    display: flex;
    width: 13%;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-style: none;
    background: #C271FF;
    color: #FFFFFF;
    font-family: 'source_sans_prosemibold';
    box-shadow: 0px 2px 20px #00000050;
}

.header-row {
    display: flex;
    justify-content:space-around;
    width: 90%;
    height: 30px;
    margin: 1.5em 2em;
}

.header-p {
    display: flex;
    justify-content: center;
}

.header-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.learn {
    color: #C271FF;
    font-family: 'source_sans_probold';
}

.learn-peoples {
    color: #FFFFFF;
    font-family: 'source_sans_prolight';
    justify-content: center;
    font-size: 32px;
    font-weight: 300;
}

.peoples {
    justify-content: center;
}

.peoples-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-row {
    display: flex;
    width: 15%;
    justify-content:space-between;
    align-content: center;
}

.nav-link {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 700;
    align-self: center;
}

.nav-spacer {
    width: 40%;
}

.quotes-section {
    padding: 0 20% 0 10%;
    height:380px;
    background-color: #C271FF;
    color: #FFFFFF;
    align-content: center;
    font-size: 22px;
}

.quote-block {
    justify-content: flex-start;
}

.quote-thumbnail {
    margin-right: 5%;
}

.quote-image {
    max-width: 160px;
    height: auto;
    border-radius: 50%;
}

.mainquote {
    max-width: 730px;
    height: auto;
}

.mainquote blockquote{
    margin: 0;
    line-height: 150%;
}

.author {
    font-weight: 700;
    margin-bottom: 0;
}

.subtext {
    font-style: italic;
    margin-top: 5px;
}

.video {
    margin: 5%;
    max-width: 1288px;
    height: 450px;
    color: #071629;
}

.row-videos {
    justify-content: space-evenly;

}

.video-sec-title {
    justify-content: center;
}

.starimg {
    max-width: 15px;
    height: auto;
}

.video-inheader {
    font-family: 'source_sans_prolight';
    font-weight: lighter;
    font-size: 32px;
}

.video-inheader span {
    font-family: 'source_sans_probold';
    color: #C271FF;
}

.video-block-column {
    margin: 1.5%;
    width: 18%;
}

.video-minor-row {
    margin: 0 5%;
}

.video-minor-row h2 {
    font-size: 18px;
    font-family: 'source_sans_prosemibold';
}

.video-descript {
    opacity: 50.16%;
    font-size: 14px;
}

.video-thumbnail {
    z-index: 10;
    max-width: 255px;
    height: auto;
}

.thumbnail-display {
    position: relative;
}

.thumbnail-display::after {
    content: url('./images/play.png');
    z-index: 20;
    position: absolute;
    right: 38%;
    top: 27%;
    max-width: 40%;
    height: auto;
}

.author-row {
    height: 30px;
    margin-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: #C271FF;
}

.author-image {
    border-radius: 50%;
    max-width: 14%;
    height: auto;
}

.author-row div {
    margin: 0 3%;
}

.rating-row {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    opacity: 100%;
}

.rating-section {
    margin-right: 30%;
}

.membership-block {
    max-width: 1440px;
    height: 502px;
    align-content: space-between;
    background-color: #071629;
    padding-top: 25px;
}

.smileonimg {
    max-width: 44px;
    height: auto;
}

.membership-title-row {
    justify-content: center;
}

.membership-infill {
    justify-content: space-around;
}

.membership-row {
    justify-content: center;
}

.button-holder {
    justify-content: center;
    align-items: center;
}

.button2 {
    display: flex;
    width: 13%;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-style: none;
    background: #C271FF;
    color: #FFFFFF;
    font-family: 'source_sans_prosemibold';
    box-shadow: 0px 2px 20px #00000050;
}

.membership-column {
    width: 14%;
    color: #FFFFFF;
}

.membership-column h2 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
}

.membership-column p {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.membership-title {
    color: #FFFFFF;
    font-family: 'source_sans_prolight';
    font-weight: 300;
    font-size: 32px;
    max-width: 234px;
    height: auto;
}

.membership-span-title {
    max-width: 234px;
    height: auto;
    font-family: 'source_sans_probold';
    color: #C271FF;
}

.faq {
    color: #071629;
    margin-bottom: 5%;
}

.faq-title {
    font-size: 60px;
    font-family: 'source_sans_prolight';
    justify-content: center;
}

.faq-header h1 {
    font-weight: 300;
}

.faq-row {
    width: 44%;
    justify-content: center;
}

.faq-column {
    align-items: center;
}

.faq-holder {
justify-content: space-around;
}

.faq-title2 {
    align-items: center;
}

.faq-h {
 line-height: 20.11px;
 font-size: 16px;
 font-family: 'source_sans_prosemibold';
}

.faq-p {
    line-height: 24px;
    opacity: 50.16%;
    font-size: 14px;
}

.footer-data {
    width: 100%;
    justify-content: space-between;
}

.footer-block-one {
    justify-content: space-between;
    margin-top: 5%;
}

.outbound-column {
    width: 12%;
}
.outbound-links {
    justify-content: space-around;
}

.trademark {
    justify-content: center;
    color: #FFFFFF;
    opacity: 35.17%;
    font-size: 12px;
}

.row-motto {
    font-family: 'source_sans_prosemibold';
    font-size: 115px;
    margin-bottom: 10px;
    margin-top: 120px;
    color: #FFFFFF;
    justify-content: center;
}

.row-taglines {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: 'source_sans_probold';
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.up-body-marg {
    height: 125px;
}